.projects {
    max-width: 1200px;
    border-top: 1px solid rgba(128, 128, 128, 0.45);
    border-bottom: 1px solid rgba(128, 128, 128, 0.169);
    margin: 1rem auto;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.projects-content h2 {
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.projects-content p {
    color: var(--gray);
    margin-bottom: 2rem;
    font-size: 15px;
    font-size: 700;
    text-align: center;
}

figure.snip1205 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1205 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.snip1205 img {
    max-width: 100%;
    vertical-align: top;
    border-radius: 20px;
}

figure.snip1205 i {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

figure a {
    right: 16%;
    top: 10%;
    position: absolute;
}

figure i {
    font-size: 16px;
}

figure.snip1205:hover img,
figure.snip1205.hover img {
    opacity: 0.6;
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
}

figure.snip1205:hover i,
figure.snip1205.hover i {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.projects-imgage-content {
    position: relative;
}

.projects-upper-content {
    position: absolute;
    bottom: 4%;
    left: 10%;
}

.projects-upper-content p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.71);
}

.projects-upper-content::before {
    content: "";
    position: absolute;
    width: 100%;
    padding: 30px;
}

@media(max-width:1280px) {
    .projects {
        margin: 2rem auto;
        max-width: 1100px;
    }

    .projects-content h2 {
        margin-top: 5rem;
    }

    .projects-cards {
        margin-bottom: 3rem;
    }

    .projects-cards {
        gap: 30px;
    }

}

@media(max-width:1024px) {
    .projects {
        margin: 3rem auto;
        max-width: 900px;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .projects-content h2 {
        margin-top: 5rem;
    }

    .projects-cards {
        margin-bottom: 3rem;
    }
}

@media(max-width:1024px) {
    .projects {
        margin: 3rem auto;
        max-width: 900px;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .projects-content h2 {
        margin-top: 5rem;
    }

    .projects-cards {
        margin-bottom: 3rem;
    }
}

@media(max-width:800px) {
    .projects {
        max-width: 700px;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

@media(max-width:500px) {
    .projects {
        max-width: 440px;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: 1fr;

    }

    .snip1205 img {
        max-width: 100%;
    }
}